# Dependencies
node_modules

# macOS
.DS_Store

# TeX files and compilation artifacts
*.tex
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls
*.dvi
*.ps
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.idx
*.ilg
*.ind
*.lof
*.lot
